<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>NewAssets/BearOnBarHighlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{3688, 521}, {79, 85}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {79, 85}}</string>
			<key>sourceSize</key>
			<string>{79, 85}</string>
		</dict>
		<key>NewAssets/BearOnBarHighlighter.png</key>
		<dict>
			<key>frame</key>
			<string>{{3688, 602}, {79, 85}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {79, 85}}</string>
			<key>sourceSize</key>
			<string>{79, 85}</string>
		</dict>
		<key>NewAssets/BearOnBarMad.png</key>
		<dict>
			<key>frame</key>
			<string>{{3688, 758}, {72, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 78}}</string>
			<key>sourceSize</key>
			<string>{72, 78}</string>
		</dict>
		<key>NewAssets/BearOnBarSurprised.png</key>
		<dict>
			<key>frame</key>
			<string>{{3688, 683}, {73, 79}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3, 3}, {73, 79}}</string>
			<key>sourceSize</key>
			<string>{79, 85}</string>
		</dict>
		<key>NewAssets/PowerUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{3688, 35}, {104, 104}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {104, 104}}</string>
			<key>sourceSize</key>
			<string>{104, 104}</string>
		</dict>
		<key>NewAssets/PowerUpHighlighted (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{3917, 1351}, {115, 115}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {115, 115}}</string>
			<key>sourceSize</key>
			<string>{115, 115}</string>
		</dict>
		<key>NewAssets/PowerUpOpaque (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{3688, 141}, {104, 104}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {104, 104}}</string>
			<key>sourceSize</key>
			<string>{104, 104}</string>
		</dict>
		<key>NewAssets/Spring-P-2@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{3795, 1}, {250, 281}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {250, 281}}</string>
			<key>sourceSize</key>
			<string>{250, 281}</string>
		</dict>
		<key>NewAssets/backHill (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{3007, 35}, {2032, 679}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2032, 679}}</string>
			<key>sourceSize</key>
			<string>{2032, 679}</string>
		</dict>
		<key>NewAssets/bar (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{3007, 1}, {32, 786}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {32, 786}}</string>
			<key>sourceSize</key>
			<string>{32, 786}</string>
		</dict>
		<key>NewAssets/bearOnBar.png</key>
		<dict>
			<key>frame</key>
			<string>{{3688, 832}, {72, 78}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {72, 78}}</string>
			<key>sourceSize</key>
			<string>{72, 78}</string>
		</dict>
		<key>NewAssets/candy-ball-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{3688, 247}, {187, 99}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {187, 99}}</string>
			<key>sourceSize</key>
			<string>{187, 99}</string>
		</dict>
		<key>NewAssets/candy-ball-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{3688, 436}, {83, 89}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {83, 89}}</string>
			<key>sourceSize</key>
			<string>{83, 89}</string>
		</dict>
		<key>NewAssets/candy-ball.png</key>
		<dict>
			<key>frame</key>
			<string>{{3917, 1468}, {76, 76}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {76, 76}}</string>
			<key>sourceSize</key>
			<string>{76, 76}</string>
		</dict>
		<key>NewAssets/candy-wing.png</key>
		<dict>
			<key>frame</key>
			<string>{{4037, 858}, {150, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {150, 56}}</string>
			<key>sourceSize</key>
			<string>{150, 56}</string>
		</dict>
		<key>NewAssets/cannon (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{3688, 906}, {443, 347}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {443, 347}}</string>
			<key>sourceSize</key>
			<string>{443, 347}</string>
		</dict>
		<key>NewAssets/cannon-stand.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 3637}, {334, 249}}</string>
			<key>offset</key>
			<string>{1, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 0}, {334, 249}}</string>
			<key>sourceSize</key>
			<string>{335, 249}</string>
		</dict>
		<key>NewAssets/grass (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {3004, 367}}</string>
			<key>offset</key>
			<string>{0, 6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {3004, 367}}</string>
			<key>sourceSize</key>
			<string>{3004, 380}</string>
		</dict>
		<key>NewAssets/ground (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{3688, 1351}, {2727, 227}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {2727, 227}}</string>
			<key>sourceSize</key>
			<string>{2727, 227}</string>
		</dict>
		<key>NewAssets/play.png</key>
		<dict>
			<key>frame</key>
			<string>{{3789, 253}, {603, 278}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {603, 278}}</string>
			<key>sourceSize</key>
			<string>{603, 278}</string>
		</dict>
		<key>NewAssets/titlev3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 2069}, {1566, 635}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1566, 635}}</string>
			<key>sourceSize</key>
			<string>{1566, 635}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{4096, 4096}</string>
		<key>textureFileName</key>
		<string>NewAssets.png</string>
	</dict>
</dict>
</plist>
