<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>NewAssets/BearOnBarHighlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{1846, 265}, {39, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {39, 42}}</string>
			<key>sourceSize</key>
			<string>{39, 42}</string>
		</dict>
		<key>NewAssets/BearOnBarHighlighter.png</key>
		<dict>
			<key>frame</key>
			<string>{{1846, 306}, {39, 42}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {39, 42}}</string>
			<key>sourceSize</key>
			<string>{39, 42}</string>
		</dict>
		<key>NewAssets/BearOnBarMad.png</key>
		<dict>
			<key>frame</key>
			<string>{{1846, 386}, {36, 39}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 39}}</string>
			<key>sourceSize</key>
			<string>{36, 39}</string>
		</dict>
		<key>NewAssets/BearOnBarSurprised.png</key>
		<dict>
			<key>frame</key>
			<string>{{1846, 347}, {37, 40}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1, 1}, {37, 40}}</string>
			<key>sourceSize</key>
			<string>{39, 42}</string>
		</dict>
		<key>NewAssets/PowerUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{1846, 19}, {52, 52}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 52}}</string>
			<key>sourceSize</key>
			<string>{52, 52}</string>
		</dict>
		<key>NewAssets/PowerUpHighlighted (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1366, 187}, {57, 57}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {57, 57}}</string>
			<key>sourceSize</key>
			<string>{57, 57}</string>
		</dict>
		<key>NewAssets/PowerUpOpaque (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1846, 73}, {52, 52}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {52, 52}}</string>
			<key>sourceSize</key>
			<string>{52, 52}</string>
		</dict>
		<key>NewAssets/Spring-P-2@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{1900, 1}, {125, 140}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {125, 140}}</string>
			<key>sourceSize</key>
			<string>{125, 140}</string>
		</dict>
		<key>NewAssets/backHill (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{1505, 19}, {1016, 339}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1016, 339}}</string>
			<key>sourceSize</key>
			<string>{1016, 339}</string>
		</dict>
		<key>NewAssets/bar (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{1505, 1}, {16, 393}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {16, 393}}</string>
			<key>sourceSize</key>
			<string>{16, 393}</string>
		</dict>
		<key>NewAssets/bearOnBar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1846, 424}, {36, 39}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {36, 39}}</string>
			<key>sourceSize</key>
			<string>{36, 39}</string>
		</dict>
		<key>NewAssets/candy-ball-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{1846, 127}, {93, 49}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {93, 49}}</string>
			<key>sourceSize</key>
			<string>{93, 49}</string>
		</dict>
		<key>NewAssets/candy-ball-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{1846, 222}, {41, 44}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {41, 44}}</string>
			<key>sourceSize</key>
			<string>{41, 44}</string>
		</dict>
		<key>NewAssets/candy-ball.png</key>
		<dict>
			<key>frame</key>
			<string>{{1425, 187}, {38, 38}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {38, 38}}</string>
			<key>sourceSize</key>
			<string>{38, 38}</string>
		</dict>
		<key>NewAssets/candy-wing.png</key>
		<dict>
			<key>frame</key>
			<string>{{1887, 431}, {75, 28}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {75, 28}}</string>
			<key>sourceSize</key>
			<string>{75, 28}</string>
		</dict>
		<key>NewAssets/cannon (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1846, 462}, {221, 173}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {221, 173}}</string>
			<key>sourceSize</key>
			<string>{221, 173}</string>
		</dict>
		<key>NewAssets/cannon-stand.png</key>
		<dict>
			<key>frame</key>
			<string>{{1846, 685}, {167, 124}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {167, 124}}</string>
			<key>sourceSize</key>
			<string>{167, 124}</string>
		</dict>
		<key>NewAssets/grass (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {1502, 184}}</string>
			<key>offset</key>
			<string>{0, 3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1502, 184}}</string>
			<key>sourceSize</key>
			<string>{1502, 190}</string>
		</dict>
		<key>NewAssets/ground (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 187}, {1363, 113}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {1363, 113}}</string>
			<key>sourceSize</key>
			<string>{1363, 113}</string>
		</dict>
		<key>NewAssets/play.png</key>
		<dict>
			<key>frame</key>
			<string>{{1897, 128}, {301, 139}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {301, 139}}</string>
			<key>sourceSize</key>
			<string>{301, 139}</string>
		</dict>
		<key>NewAssets/titlev3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1037}, {783, 317}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {783, 317}}</string>
			<key>sourceSize</key>
			<string>{783, 317}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>textureFileName</key>
		<string>NewAssets.png</string>
	</dict>
</dict>
</plist>
