<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>NewAssets/BearOnBarHighlight.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 81}, {19, 21}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 21}}</string>
			<key>sourceSize</key>
			<string>{19, 21}</string>
		</dict>
		<key>NewAssets/BearOnBarHighlighter.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 102}, {19, 21}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 21}}</string>
			<key>sourceSize</key>
			<string>{19, 21}</string>
		</dict>
		<key>NewAssets/BearOnBarMad.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 165}, {18, 19}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 19}}</string>
			<key>sourceSize</key>
			<string>{18, 19}</string>
		</dict>
		<key>NewAssets/BearOnBarSurprised.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 123}, {19, 20}}</string>
			<key>offset</key>
			<string>{0, -1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 1}, {19, 20}}</string>
			<key>sourceSize</key>
			<string>{19, 21}</string>
		</dict>
		<key>NewAssets/PowerUp.png</key>
		<dict>
			<key>frame</key>
			<string>{{955, 420}, {26, 26}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 26}}</string>
			<key>sourceSize</key>
			<string>{26, 26}</string>
		</dict>
		<key>NewAssets/PowerUpHighlighted (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 420}, {28, 28}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {28, 28}}</string>
			<key>sourceSize</key>
			<string>{28, 28}</string>
		</dict>
		<key>NewAssets/PowerUpOpaque (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{983, 420}, {26, 26}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {26, 26}}</string>
			<key>sourceSize</key>
			<string>{26, 26}</string>
		</dict>
		<key>NewAssets/Spring-P-2@4x.png</key>
		<dict>
			<key>frame</key>
			<string>{{952, 1}, {62, 70}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {62, 70}}</string>
			<key>sourceSize</key>
			<string>{62, 70}</string>
		</dict>
		<key>NewAssets/backHill (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{754, 11}, {508, 169}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {508, 169}}</string>
			<key>sourceSize</key>
			<string>{508, 169}</string>
		</dict>
		<key>NewAssets/bar (1).png</key>
		<dict>
			<key>frame</key>
			<string>{{754, 1}, {8, 196}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {8, 196}}</string>
			<key>sourceSize</key>
			<string>{8, 196}</string>
		</dict>
		<key>NewAssets/bearOnBar.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 185}, {18, 19}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {18, 19}}</string>
			<key>sourceSize</key>
			<string>{18, 19}</string>
		</dict>
		<key>NewAssets/candy-ball-pink.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 11}, {46, 24}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {46, 24}}</string>
			<key>sourceSize</key>
			<string>{46, 24}</string>
		</dict>
		<key>NewAssets/candy-ball-purple.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 59}, {20, 22}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {20, 22}}</string>
			<key>sourceSize</key>
			<string>{20, 22}</string>
		</dict>
		<key>NewAssets/candy-ball.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 144}, {19, 19}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {19, 19}}</string>
			<key>sourceSize</key>
			<string>{19, 19}</string>
		</dict>
		<key>NewAssets/candy-wing.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 205}, {37, 14}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {37, 14}}</string>
			<key>sourceSize</key>
			<string>{37, 14}</string>
		</dict>
		<key>NewAssets/cannon (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 244}, {110, 86}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {110, 86}}</string>
			<key>sourceSize</key>
			<string>{110, 86}</string>
		</dict>
		<key>NewAssets/cannon-stand.png</key>
		<dict>
			<key>frame</key>
			<string>{{925, 356}, {83, 62}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {83, 62}}</string>
			<key>sourceSize</key>
			<string>{83, 62}</string>
		</dict>
		<key>NewAssets/grass (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {751, 92}}</string>
			<key>offset</key>
			<string>{0, 1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {751, 92}}</string>
			<key>sourceSize</key>
			<string>{751, 95}</string>
		</dict>
		<key>NewAssets/ground (2).png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 95}, {681, 56}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {681, 56}}</string>
			<key>sourceSize</key>
			<string>{681, 56}</string>
		</dict>
		<key>NewAssets/play.png</key>
		<dict>
			<key>frame</key>
			<string>{{949, 65}, {150, 69}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {150, 69}}</string>
			<key>sourceSize</key>
			<string>{150, 69}</string>
		</dict>
		<key>NewAssets/titlev3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 521}, {391, 158}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {391, 158}}</string>
			<key>sourceSize</key>
			<string>{391, 158}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>textureFileName</key>
		<string>NewAssets.png</string>
	</dict>
</dict>
</plist>
